.public-screen {
  &__container {
    font-size: 40px;
    box-sizing: border-box;
    user-select: none;
    background-color: #333333;
    color: #ffff00;
    font-family: 'TRS Million', Verdana, Tahoma, sans-serif;
    font-size: 1.6rem;
  }
}

.intro {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__title {
    font-size: 3.5rem;
    font-weight: 100;
    text-align: center;
  }
}


.round {
  &__container {
    width: 100%;
  }

  &__answers-mistakes-wrapper {
    display: flex;
  }
  
  &__answers-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  
  &__answers {
    width: 100%;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
  }
  
  &__answer {
    width: 100%;
    display: flex;
  }
  
  &__answer-index {
    min-width: 50px;
    margin-right: 20px;
  }
  
  &__answer-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
  }
  
  &__points-total {
    align-self: flex-end;
    margin-top: 50px;
  }
  
  &__points {
    position: fixed;
    bottom: 0;
    font-size: 4rem;
  }
  
  &__points--left {
    left: 0;
  }
  
  &__points--right {
    right: 0;
  }
}


.mistake {
  background-image: url('../../../static/images/mistake.gif');
  -webkit-background-size: 130px 150px; 
  -moz-background-size: 130px 150px; 
  -o-background-size: 130px 150px; 
  background-repeat: no-repeat;
  width: 130px; 
  height: 150px;
  position: relative;
  margin-bottom: 100px;
}