$selected-color: #4af;
$selected-button-color: rgb(56, 138, 206);
$selected-background-color: rgb(33, 86, 129);
$selected-hover-background-color: rgb(40, 107, 161);

.operator-dashboard {
  height: 100%;
  color: #ddd;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 24px;
}

.button {
  background-color: #666;
  font-size: 16px;
  padding: 10px 15px;
  margin: 3px 3px;
  border: none;
  border-radius: 4px;
  color: #eee;

  &:hover {
    background-color: #888;
    cursor: pointer;
  }

  &--danger {
    background-color: #f44;
    color: #fcc;
  }

  &--danger:hover {
    background-color: #f88;
    color: #fcc;
  }

  &--update {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }

  &--active {
    background-color: $selected-button-color;
  }

  &--active:hover {
    background-color: $selected-color;
  }

  &--warning {
    background-color: rgb(211, 193, 32);
    color: #000;
  }

  &--warning:hover {
    background-color: rgb(230, 210, 30);
    color: #000;
  }
}

.question-select {
  height: 44px;
  width: 30vw;
  background-color: #ccc;
  color: #333;
  font-size: 20px;
}

.round-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 150px;
}

.dashboard {
  &__answers {
    width: 30vw;
    margin: 20px;
  }

  &__round-container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
  }

  &__final-question {
    margin: 30px;
  }


  &__answer {
    margin: 10px;
    padding: 5px 10px;
    background-color: #222;
    border-radius: 5px;

    &:hover {
      background-color: #444;
    }

    &--checked {
      font-weight: bold;
      border: 1px solid $selected-color;
      background-color: $selected-background-color;

      &:hover {
        background-color: $selected-hover-background-color;
      }
    }
  }

  &__answer-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.team-stats {
  &__wrapper {
    &:hover {
      cursor: pointer;
    }

    &--right {
      text-align: right;
    }

    &--selected {
      border-left: 10px solid $selected-color;
      padding-left: 20px;
    }

    &--selected-right {
      border-right: 10px solid $selected-color;
      padding-right: 20px;
    }
  }
  
  &__heading {
    color: white;
    font-weight: 500;
    &--selected {
      color: $selected-color;
      font-weight: 900;
    }
  }
}

.radio {
  margin: 0 10px;
}

.row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;

  &--center {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}


input[type=checkbox], input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=text] {
  padding: 5px 10px;
  font-size: 18px;
}